@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 90vw;
  background-color: $body-bg;
  background-size: cover;
}

main {
  flex-grow: 2;
  min-height: 90vh;
}
