@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: block;
  flex-direction: column;
  max-height: 80vh;
  max-width: 90vw;
  background-color: $body-bg;
  background-size: cover;
}

main {
  flex-grow: 1;
  min-height: 90vh;
}

.text {
  text-shadow: black 5px;
}

.quote {
  &:hover {
    .author {
      opacity: 1;
    }
  }
  .author {
    opacity: 0;
    transition: all 0.3s linear;
  }
}
